---
layout: default
title: Projects
---

<p class="message">
  You will find here some cool and interesting projects that I've worked on throughout the years.
</p>


<div class="posts">
  {% for post in site.posts %}
  <div class="post">
    <a href="{{ post.url }}">
      <img class="post-list-thumb" src="/public/article-thumb/{{ post.thumb }}" alt="{{ post.title }}" />
    </a>
    <h3 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h3>

    <!-- <span class="post-date">{{ post.date | date_to_string }}</span> -->
    <div class="snippet">
    {{ post.content | strip_html | truncatewords:35 }}
    </div>
  </div>
  {% endfor %}
</div>

<!--
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/projects/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/projects">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/projects/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
