<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

{% include head.html %}

<body>

  {% include sidebar.html %}

  <div class="wrap">
    <div class="container content">
      {{ content }}

      <footer class="clearfix">
        <div>
          Flavio Silva Filho
          <br>
          <a href="http://www.twitter.com/flaviotsf" target="_blank">
            {% include twitter_icon.html %}
        </a>

        <a href="https://www.linkedin.com/in/flaviotsilva" target="_blank">
            {% include linkedin_icon.html %}
      </a>
    </div>
  </footer>
</div>
</div>

<label for="sidebar-checkbox" class="sidebar-toggle"></label>
<div class="masthead" id="masthead">
  <div class="container">
    <h3 class="masthead-title">
      <a href="/" title="Home">{{ site.title }}</a>
      <small>{{ site.tagline }}</small>
    </h3>
  </div>
</div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
(function(document) {
  var toggle = document.querySelector('.sidebar-toggle');
  var sidebar = document.querySelector('#sidebar');
  var checkbox = document.querySelector('#sidebar-checkbox');

  document.addEventListener('click', function(e) {
    var target = e.target;

    if(!checkbox.checked ||
      sidebar.contains(target) ||
      (target === checkbox || target === toggle)) return;

      checkbox.checked = false;
    }, false);
  })(document);


  $(document.links).filter(function() {
    return this.hostname != window.location.hostname;
  }).attr('target', '_blank');


 $(window).scroll(function() {
   changeMasthead();
 });

 $(window).bind('touchmove',function(e){
    var scroll = $(window).scrollTop();
    console.log(e.originalEvent.touches[0].pageX);
    console.log(scroll);

});


   function changeMasthead() {
    var scroll = $(window).scrollTop();
    // add the 'active' class to the correct li based on the scroll amount
    if (scroll <= 50) {
      $("#masthead").removeClass("masthead-active");
    }
    else {

      if(!$("#masthead").hasClass('masthead-active')) {
        $("#masthead").addClass("masthead-active");
      }
    }
  }

  </script>
</body>
</html>
